
@{
    ViewBag.Title = "Persona";
}

<h2>Persona</h2>

<h3>Lista de Personas</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td> Reynaldo</td>
            <td>Vasquez </td>
            <td>Editar | Eliminar </td>
        </tr>

    </tbody>
   
</table>